# Ejemplo de archivo .env
# Este archivo no debería ser usado para cambiar los valores de variables
# Copie en contenido en ./.env para configurar las variables

NODE_PORT="2222"
CORS_PORT="3000"

PG_PORT="5432"
PG_USER="postgres"
PG_HOST="/var/run/postgresql"
PG_DB="auth_template"
PG_PASSWORD="postgres"

JWT_SECRET="5C135107C20550C8D1B446416D0126F962904A33A97E6A2ABFA086C8539552F9"

FILE_SERVER_PATH="http://localhost:85/uploads/"
NGINX_ROOT_PATH="/var/www/auth_template/"
NGINX_PORT="85"
NGINX_SERVER_NAME="localhost"